<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Basic -->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <!-- Site Metas -->
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <link rel="shortcut icon" href="/images/favicon.png" type="image/x-icon">

    <title>
        <%= pageTitle %>
    </title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.css" />
    <!-- Custom styles -->
    <link href="/css/style.css" rel="stylesheet" />
    <link rel="stylesheet" href="/css/cart.css">
    <!-- Responsive style -->
    <link href="/css/responsive.css" rel="stylesheet" />

    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/js/all.js" crossorigin="anonymous"></script>
</head>

<body>
    <%- include('../includes/header.ejs') %>

        <main>
            <% if (products.length> 0) { %>
                <ul class="cart__item-list">
                    <% products.forEach(p=> { %>
                        <li class="cart__item">
                            <h1>
                                <%= p.productId.title %>
                            </h1>
                            <h2>العدد: <%= p.quantity %>
                            </h2>
                            <form action="/shop/cart-delete-item" method="POST">
                                <input type="hidden" value="<%= p.productId._id %>" name="productId">
                                <button class="btn danger" type="submit">حذف</button>
                            </form>
                        </li>
                        <% }) %>
                </ul>
                <hr>
                <div class="d-flex justify-content-center">
                    <form action="/shop/checkout" method="GET">
                        <button type="submit" class="btn btn-danger w-100">تاكيد الطلب</button>
                    </form>
                </div>
                <% } else { %>
                    <h1 style="text-align: center;">ليس هناك منتجات في السلة</h1>
                    <% } %>
        </main>

        <script src="/js/jquery-3.4.1.min.js"></script>
        <script src="/js/bootstrap.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
        <script src="/js/custom.js"></script>
</body>

</html>