<!DOCTYPE html>
<html>

<head>
    <!-- Basic -->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <!-- Site Metas -->
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <link rel="shortcut icon" href="/images/favicon.png" type="image/x-icon">

    <title>
        <%= pageTitle %>
    </title>

    <!-- slider stylesheet -->
    <link rel="stylesheet" type="text/css"
        href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" />

    <!-- bootstrap core css -->
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.css" />

    <!-- Custom styles for this template -->
    <link href="/css/main.css" rel="stylesheet" />
    <!-- responsive style -->
    <link href="/css/style.css" rel="stylesheet" />

    <link href="/css/responsive.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/js/all.js"
        integrity="sha512-MXWlk6UOVfE/OdjLyby2zlldm3K36O43PyJmAmXfib7wWEUkediNdwRx4rrvM1GtP1yO+sDLCkvXV6o03sQHmA=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</head>
</head>


<body>
    <%- include('../includes/header.ejs') %>


        <main class="centered">
            <h1 class="m-5 ">
                <%= product.title %>
            </h1>
            <hr>
            <div class="image">
                <img src="/<%= product.imageUrl %>" alt="<%= product.title %>">
            </div>
            <div class="detail-box m-4 ">

                <h2>السعر<span>
                        <%= product.price %>
                    </span> ليرة سورية </h2>
            </div>
            <p class="m-5 ">
                <%= product.description %>
            </p>

        </main>
        <%- include('../includes/footer.ejs') %>


            <script src="/js/jquery-3.4.1.min.js"></script>
            <script src="/js/bootstrap.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js">
            </script>

</body>

</html>